.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  z-index: 10;
}

.sidebar-logo {
  width: 120px;
  margin-bottom: 3rem;
  filter: brightness(0) invert(1);
}
.sidebar-logo:hover{
  cursor: pointer;
  animation: 5ms;
  filter: brightness(2) invert(0);
  transition: filter 0.3s;

}
.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: left;
}

.sidebar li {
  padding: 0.8rem 1.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 8px;
}

.sidebar li:hover {
  background-color: #ffffff;
  color: black;
}

.sidebar-footer {
  list-style: none;
  padding: 0;
  margin-top: auto;
}

.logout-btn {
  background-color: #e74c3c;
  color: white;
  text-align: center;
  font-weight: 600;
  border-radius: 8px;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: background 0.3s;
}

.logout-btn:hover {
  background-color: #c0392b;
}
