.team-page {
  min-height: 100vh;
  padding: 60px 80px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  
}
.team-title {
  
  font-size: 48px;
  margin-bottom: 40px;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(to right, #ffffff, #dedede);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}

.team-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.team-card {
  background: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  border-radius: 20px;
  min-width: 400px;
  padding: 25px 30px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
  width: 500px;
  
}
.team-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 40px rgba(255, 145, 77, 0.3);
}

.role-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.role-header h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #2e2e2e;
}

.add-btn {
  background: #ff914d;
  color: white;
  border: none;
  width: 60px;
  cursor: pointer;
  transition: 0.2s;
}
.add-btn:hover {
  background: #ff4411;
  color: #ffffff;
  transform: scale(1.1);
}

.role-list {
  margin-bottom: 25px;
}

.user-item {
  display: flex;
  align-items: center;
  background: rgba(96, 96, 96, 0.08);
  padding: 8px 12px;
  border-radius: 12px;
  margin: 6px 0;
  gap: 10px;
  transition: 0.2s;
}
.user-item:hover {
  background: rgba(0, 0, 0, 0.15);
}
.user-item img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #006f6f;
}
.user-item .character {
  display: block;
  font-size: 14px;
  color: #929191;
}

.empty {
  color: #999;
  font-style: italic;
}

.popup-window {
  position: absolute;
  top:100px;
  right: 100px;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 12px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  z-index: 20;
  animation: fadeIn 0.2s ease;
}

.user-item-pop {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.user-item-pop:hover {
  background: rgba(119, 119, 119, 0.2);
}

.user-item-pop img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.left-move-margin{
  margin-left: 40px;
  position: relative;
  right:38px;
}
.right-move-margin{
  margin-left:0px;
  position: relative;
  right: 35px;
}
.button-close-pop {
  width: 100%;
  margin-top: 10px;
  background: #ff914d;
  border: none;
  color: white;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.button-close-pop:hover {
    background: #ff4411;

}

.popup-confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border: 1px solid #c8c8c8;
  padding: 25px;
  border-radius: 16px;
  z-index: 100;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.popup-confirm p {
  font-size: 18px;
  margin-bottom: 10px;
}

.popup-confirm input {
  width: 80%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #e8e8e8;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.yes-btn,
.no-btn {
  padding: 6px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}


.yes-btn {
  background: #ff914d;
  color: white;
}
.no-btn {
  background: #ff914d;
    color: white;
}
.yes-btn:hover {
  background: #ff4411;
}
.no-btn:hover {
  background: #ff4411;
}

.bottom-buttons {
  text-align: center;
  margin-top: 40px;
}
.bottom-buttons button {
  background: linear-gradient(90deg, #ff914d, #ff4411);
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.bottom-buttons button:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #fff, #ff914d);
  color: #1a1a1f;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.popup-search {
  width: 233px;
  margin-bottom: 10px;
  padding: 6px 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}
.popup-search:focus {
  border-color: #ff914d;
  box-shadow: 0 0 5px rgba(255, 145, 77, 0.4);
}
button .delete-button{

  border: none;
}
.popup-search {
  width: 100%;
  padding: 6px 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.remove-btn {
  margin-left: 12px;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
}
.remove-btn[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
  float: right;
}

.role-section{
  margin-bottom: 60px;
}